h1 {
color: #0170FF;
}

p {
font-weight: bold;
}
a {
color: #FF0101;
}

li {
    list-style-type: none;
    border-left: 3px solid #424EDC;
    background-color: #f1f1f1;
    padding: 10px;
}

.content {
    padding: 20px;
    margin: 10px;
    font-style: italic;
    background-color: #424EDC;
    color: #ffffff;
}

.active {
    border-left: 3px solid aqua;
}

.footer {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #424EDC;
    color: #ffffff;
}

h3 {
    font-weight: 900;
}